[Unit]
Description=Timer fetch subreddit comments every 5 minutes

[Timer]
OnBootSec=1min
OnActiveSec=1min
OnUnitActiveSec=5min
Unit=flairstats.service

[Install]
WantedBy=default.target
