[Unit]
Description=Schedule FetchBot runs

[Timer]
OnBootSec=1min
OnActiveSec=1min
OnUnitActiveSec=5min
Unit=flairstats@%i.service

[Install]
WantedBy=default.target
